<mat-toolbar>
  <button mat-icon-button aria-label="Go back to expenses">
    <mat-icon routerLink="/groups/{{ groupId }}">arrow_back</mat-icon>
  </button>
  <span>Add expense</span>
</mat-toolbar>

<form [formGroup]="expenseForm()" (ngSubmit)="onSubmit()" class="expense-form">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <div class="amount-and-date">
    <mat-form-field class="example-full-width">
      <mat-label>Amount</mat-label>
      <input matInput type="number" placeholder="0.00" formControlName="amount" step="0.01" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>When</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <!--      <mat-hint>DD/MM/YYYY</mat-hint>-->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <section formGroupName="participants">
    <mat-label>Split</mat-label>
    @for (member of members(); track member.id) {
      <div>
        <mat-checkbox formControlName="{{ member.id }}">{{ member.name.value }}</mat-checkbox>
      </div>
    }
  </section>

  <button mat-flat-button type="submit">Save</button>
</form>
